# Laravel app ignore szabályok
foglalaskezelo-app/.phpunit.cache
foglalaskezelo-app/node_modules/
foglalaskezelo-app/public/build/
foglalaskezelo-app/public/hot/
foglalaskezelo-app/public/storage/
foglalaskezelo-app/storage/*.key
foglalaskezelo-app/storage/pail/
foglalaskezelo-app/vendor/
foglalaskezelo-app/.env
foglalaskezelo-app/.env.backup
foglalaskezelo-app/.env.production
foglalaskezelo-app/.phpactor.json
foglalaskezelo-app/.phpunit.result.cache
foglalaskezelo-app/Homestead.json
foglalaskezelo-app/Homestead.yaml
foglalaskezelo-app/npm-debug.log
foglalaskezelo-app/yarn-error.log
foglalaskezelo-app/auth.json
foglalaskezelo-app/.nova/

# IDE-k és fejlesztőeszközök
.fleet/
.idea/
.vscode/
.zed/
